<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon [routerLink]="['/dashboard']">menu</mat-icon>
  </button>
  <span>Artista</span>
  <span class="box"></span>
  <!-- <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search Artist</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async"  (onSelectionChange)="updateMySelection(option)" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form> -->
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search Artist</mat-label>
      <input type="text" placeholder="Pick one" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" (onSelectionChange)="updateMySelection(option.mbid)" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" [routerLink]="['/compare']">Compare</button>
</mat-toolbar>  